<template>
  <div class="container">
    <div class="p-3">
      categories> {{ productData.category }} >{{ productData.title }}
    </div>
    <div class="row">
      <div class="col">
        <Carousel :images="productData.images" :thumbnail="productData.thumbnail"/>
      </div>
      <div class="col">
        <ProductDetail :productData="productData" />
      </div>
    </div>
  </div>
</template>

<script setup>
const { product, product_id } = useRoute().params;

const { data: productData, error } = await useFetch(
  `https://dummyjson.com/products/${product_id}`
);

if (productData._rawValue === null) {
  throw createError({
    statusCode: 404,
    statusMessage: "page not found",
  });
}

if(error){
  console.log(error);
}
</script>

<style>
</style>