<template>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div :class="{'carousel-item active':(index=== 0), 'carousel-item':(index !== 0)}" v-for="(image, index) in images" :key="index">
        <img :src="image" class="d-block w-100" alt="..." />
      </div>
    </div>

    <button
      class="carousel-control-prev bg-secondary"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      class="carousel-control-next bg-secondary"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</template>
  
  <script setup>
const { images, thumbnail } = defineProps(["images", "thumbnail"]);
</script>
  
  <style scoped>
/* Add any necessary custom styles for the carousel */
.swiper-container {
  width: 100%;
  height: 100%;
}
.carousel-item {
  max-height: 300px;
  object-fit: contain;
}
.swiper-slide {
  text-align: center;
}
</style>
  