<template>
  <div class="card shadow-lg mb-3 bg-white rounded align-items-center" style="width: 18rem">
    <img
      v-if="thumbnail"
      :src="thumbnail"
      class="img-thumbnail "
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" v-if="title">{{ title }}</h5>
      <p class="card-text" v-if="description">
        {{ description }}
      </p>
      <div class="shadow-lg p-1 mb-5 bg-white rounded" v-if="rating">
        <div class="row" v-if="rating">
          <div class="col-6">
            <p>
              stock: <b>{{ stock }} pcs.</b>
            </p>
          </div>
          <div class="col-6">
            <p>
              rating: <b>{{ rating }} </b>/5
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              price: <del class="text-muted">${{ price }} </del>
              <b class="px-1">${{ discountPrice }}/-</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="" v-if="discountPercentage">
              Discount: <b>{{ discountPercentage }}%</b>
            </p>
          </div>
        </div>
      </div>

      <NuxtLink :to="url" class="btn btn-primary w-100"
        >View {{ buttonName }}</NuxtLink
      >
    </div>
  </div>
</template>

<script setup>
const {
  url,
  id,
  thumbnail,
  title,
  description,
  stock,
  rating,
  price,
  discountPercentage,
  buttonName,
} = defineProps([
  "url",
  "id",
  "thumbnail",
  "title",
  "description",
  "stock",
  "rating",
  "price",
  "discountPercentage",
  "buttonName",
]);

const discountPrice = discountPercentage === 0 ? price : (price - (price * discountPercentage) / 100).toFixed(2);
</script>

<style scoped>
.img-thumbnail {
  height: 200px;
  width: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
}
</style>