<template>
  <div class="row">
    <div class="col">
      <h1 class="card-title">{{ productData.title }}</h1>
      <p class="card-text">
        {{ productData.description }}
      </p>
      <div class="bg-gray rounded">
        <div class="row">
          <div class="col">
            <p>
              Brand: <b>{{ productData.brand }}</b>
            </p>
          </div>
          <div class="col">
            <p>
              stock: <b>{{ productData.stock }} pcs.</b>
            </p>
          </div>
          <div class="col">
            <p>
              rating: <b>{{ productData.rating }} </b>/5
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              price: <del class="text-muted">${{ productData.price }} </del>
              <b class="px-1">${{ discountPrice }}</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="">
              Discount: <b>{{ productData.discountPercentage }}%</b>
            </p>
          </div>
        </div>
      </div>

      <NuxtLink class="btn btn-primary w-100" id="liveToastBtn"
        >Add to cart</NuxtLink
      >
      <Toast/>
    </div>
  </div>
</template>

<script setup>
const { productData } = defineProps(["productData"]);

const discountPrice = (productData.price - (productData.price * productData.discountPercentage) / 100).toFixed(2);

</script>

<style>
</style>