<template>
  <button type="button" class="btn btn-primary" id="liveToastBtn">
    Show live toast
  </button>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="..." />
        <strong class="me-auto">Success</strong>
        <small>0 mins ago</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">Your item added</div>
    </div>
  </div>
</template>

<script setup>
</script>

<style>
</style>