<template>
  <Navbar />

  <slot />
</template>

<script setup>
  

  
useHead({

  title: "e com web",
  link: [
    {
      href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css",
      rel: "stylesheet",
      integrity:
        "sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx",
      crossorigin: "anonymous",
    },
  ],

  script: [
    {
      src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js",
    },
    { src: "https://code.jquery.com/jquery-3.3.1.slim.min.js" },
    {
      src: "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js",
    },
  ],
});
</script>

<style>
</style>