<template>
  <div class="container mt-4">
    <div class="row flex-start">
      <div class="col-12 p-3">
        categories > {{categories}}
      </div>
      <div class="col-sm-auto" v-for="p in products.products" :key="p.id">
        <Product
          :id="p.id"
          :thumbnail="p.thumbnail"
          :title="p.title"
          :description="p.description"
          :stock="p.stock"
          :rating="p.rating"
          :price="p.price"
          :discountPercentage="p.discountPercentage"
          :url="`${p.category}` + '/' + `${p.id}`"
          :buttonName="p.title"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
const { categories } = useRoute().params;
const { data: products, error } = await useFetch(
  `https://dummyjson.com/products/category/${categories}`
);

if (products._rawValue.total === 0) {
  throw createError({
    statusCode: 404,
    statusMessage: "page not found",
  });
}
</script>

<style>
</style>