<template>
  <div class="container">
    <div class="row flex-start">
      <div class="p-3">categories</div>
      <div class="col-sm" v-for="(category, index) in categories" :key="index">
        <Product
          :thumbnail="`img/${category}.jpg`"
          :url="category"
          :buttonName="category"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
const { data: categories, error } = await useFetch(
  "https://dummyjson.com/products/categories"
);
if (error) {
  console.log(error);
}
</script>

<style scoped>
.img-thumbnail {
  min-width: 200px;
  min-height: 200px;
}
</style>